

.middleblock{
    background: url("image/platform/upmid.png") no-repeat center;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 100%;
    margin: 0 auto;
    position: relative;
}
.couls{
    background: url("image/platform/coul.png") repeat-x center;
    height: 100px;
    width: 100%;
    margin:0 auto;
    position: relative;
    top:200px;
}
.unupblock{
    background: url("image/platform/upmid.png") no-repeat center;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 300px;
}
a{
    outline: none;
}